<h1>Create a New Service</h1>

<form>
	<label for="service-title">Title</label>
	<input type="text" class="form-control" id="service-title" length=""	name="service[title]" placeholder="Title" maxlength="100"><br>

	<label for="service-category">Category</label>
	<select name="service[category]" id="service-category">
	</select><br>

	<label for="service-describe">Description</label>
	<textarea type="text" class="form-control" id="service-describe" name="service[description]" placeholder="Describe your service" rows="5"></textarea><br>

	<table cellpadding="10" id="service-visi">
		<tr>
			<td><strong>Visibility</strong></td>
			<td>
				<label for="public-radio">
					<input type="radio" name="service[visibility]" value="Public" id="public-radio">Public
				</label><br>
				<label for="private-radio">
					<input type="radio" name="service[visibility]" value="Private" id="private-radio">Private
				</label><br>
				<label for="anon-radio">
					<input type="radio" name="service[visibility]" value="Anonymous" id="anon-radio">Anonymous
				</label><br>
			</td>
		</tr>
	</table>
	<div>
	</div>

	<button type="submit" class="btn btn-lg btn-primary">Create!</button><br>
</form>