<!-- This page displays the user's profile page, which contains static information like their date of birth, location etc. -->

<% if @successfulSignin %>
 <!-- <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    Welcome, <strong><%= @user.username %></strong>! -->
    <% @successfulSignin = false %>
  </div>

<% end %>
<div class="page-header">
  <h1>Profile Page</h1>
</div>

<br>


