<br><br><br>

<table width=60% border="0" style="table-layout:fixed" >
<col width="120%" />
<col width="80%" />
<td></td>
<td>
<form class="form-forgotpass" method="POST" action="/forgotPassword">
Please enter your username:
          <br><br>
          <input class="form-control" id="user_username" type="text" name="user[username]" placeholder="Username" size="30" width="10"><br>
          
          <%= token_tag nil %>
          <button class="btn btn-lg btn-primary btn-block" type="submit" >Send Mail</button>
        </form>
</td>
</table>

<% if @nilUser %>
	NilUser
<% elsif @nilUser==false %>
	NotnilUser
<%end %>