<h1> Login </h1>
<form action="" method="POST">
 Username <input type="text" name="username"/>
 <br>Password <input type="password" name="password"/>
  <br><input type="submit" name="Login"/>
</form>

<table width=100% border="0">
<tr>
<td>fdvf</td>
<td>fvv</td>
</tr>
<tr>
<td>go</td>
<td>h</td>
</table>